---
layout: base.njk
isFront: true
---
<header class="header w-full min-h-screen flex flex-col justify-between">
  {% include "navbar.njk" %}
  {% include "section.header.njk" %}
</header>
<main>
  {% include "section.about.njk" %}
  {% include "section.features.njk" %}
  {% include "section.register.njk" %}
</main>